
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-[#e0e6e0] h-full;
}


body {
  background-color: "#e0e6e0";
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nonSelectable {
  -webkit-user-drag: none;  /* For Safari */
  user-drag: none;          /* For other browsers */
  user-select: none;        /* Prevent selection */
  pointer-events: none;     /* Optional: prevent interactions like click or hover */
}

.userDiv{
  box-shadow: 0 0 20px rgb(51, 37, 88)
}