
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-[#e0e6e0] h-full;
}


body {
  background-color: "#e0e6e0";
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nonSelectable {
  -webkit-user-drag: none;  /* For Safari */
  user-drag: none;          /* For other browsers */
  user-select: none;        /* Prevent selection */
  pointer-events: none;     /* Optional: prevent interactions like click or hover */
}

.userDiv{
  box-shadow: 0 0 20px rgb(51, 37, 88)
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #2f3440; /* Blue color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.arrowIcons {
  user-select: none;
  transition-duration: 200ms;
  transition: all;
  cursor: pointer;  
}

.arrowIcons:hover{
  transform: scale(1.25);
  transition: transform 0.2s ease;
}